name: TruffleHog Secret Scan

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
  workflow_dispatch:

jobs:
  trufflehog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED to scan full git history

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v3
        with:
          path: .
          base: ""
          head: ""
          extra_args: --only-verified
