name: TruffleHog Secret

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  trufflehog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED for full history scan

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v2
        with:
          entryPoint: trufflehog
          args: >
            filesystem .
            --only-verified
            --json
            --output trufflehog-results.json
            --fail

      - name: Upload TruffleHog Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trufflehog-results
          path: trufflehog-results.json
